auto_https off
on_demand_tls {
	ask {$CADDY_ORIGIN_DOMAIN_CHECK_URL}
}

storage file_system {
	root {$CADDY_CERTS_PATH:/etc/caddy/certs}
}

:80 {
	reverse_proxy {$CADDY_ORIGIN_URL}
}

:443 {
	tls {$CADDY_LETS_ENCRYPT_EMAIL} {
		on_demand
	}

	reverse_proxy {$CADDY_ORIGIN_URL}
}